
$grisOcuro: rgba(22, 24, 27, 0.911);
$blackTex: rgba(30, 31, 32, 0.911);

ul {

    li {
        display: inline;
        a {
            text-decoration: none;
            color: $blackTex;
          }
         }
            
    }

header {
    padding-top:  10pt;
    padding-bottom:  30pt;
    padding-left: 0pt;
    background-color: $grisOcuro;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#botonesMenu{
    
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
   
}