$grisOcuro: rgba(22, 24, 27, 0.911);

footer {
    
    color: #ffff;
    padding-top:  20pt;
    padding-bottom:  10pt;
    padding-left: 2pt;
    padding-right: 10pt;     
       
}

#botonesFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start
}

#menuFooter{
   
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: fit-content;
    justify-content: space-around;

}

.redesSociales{
   
    flex-direction: row;
    justify-content: center;
     align-items: left;
     padding-top: 50px;
  
 }
 