
#grid{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "texto texto"
    "imagen imagen"
    "pie pie";
    grid-template-columns: 700px 650px;
    grid-template-rows: 120px  200px  600px  100px ;
    justify-content: center;
    align-content: flex-start;
 
    
    }
header {
    grid-area:cabeza;
}
section{
    grid-area:texto;
   
    

}
main{
    grid-area:imagen;
    
}
footer {
    grid-area: pie;
    color:  rgb(68, 68, 63);
    
    
}

#gridCentral{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 200px  300px  230px  200px  300px ;
    justify-content: center;
    align-content: inline;
    
    }
