

@media only screen and (min-width: 768px) {
    quienesSomos  {
        display: inline;
        
    }  
    
}
@media only screen and (max-width: 767px){
    quienesSomos  {
        display: inline;
        
    }  
    
}

@media only screen and (min-width: 1024px){
    .quienesSomos  {
        display: inline;
        
    }  
}
    